.pic
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.question
{
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.questions
{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 25px;
    margin: 0 20%;
    margin-bottom: 15px;
    color: whitesmoke;
    -webkit-box-shadow: -7px 11px 15px 5px #000000; 
    box-shadow: -7px 11px 15px 5px #000000;
}

.content
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.content-comment
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

h2
{
    font-family: "Brush Script MT", cursive;
}


strong
{
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
}

.info
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: stretch;
}

textarea
{
    resize: none;
    border-radius: 15px;
    padding: 0 15px;
}

.info-form
{
    margin-bottom: 0;
}


.all
{
    overflow: auto;
    height: 82vh;
    margin: 0 150px;
}



.delete
{
    display: flex;
    text-align: center;
    justify-content: center;
}

.delete a button
{
    transition: ease-in-out 1s;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5px;
    color: whitesmoke;
    background-color: red;
}