h2
{
    font-family: "Brush Script MT", cursive;
}

strong
{
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
}
textarea
{
    resize: none;
    border-radius: 15px;
    padding: 0 15px;
}