.lesson{
    background-color: gray;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    margin: 1% 25%;
}

.lesson p{
    background-color: whitesmoke;
    margin: 0 5%;
    border-radius: 5px;
}

fieldset{
    text-align: center;
    border: 2px solid black;
}

legend{
    display: block;
    margin: auto;
}

input{
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 20%;
    height: 20%;
}