body
{
    background: url("../Image/fond5.png");
}



h1, .total
{
    text-align: center;
    font-family: "Brush Script MT", cursive;
}


h2
{
    font-family: "Brush Script MT", cursive;
}

button
{
    background-color: red;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

p
{
    background-color: gray;
    padding: 10px 20px;
    border-radius: 15px;
    -webkit-box-shadow: -8px 10px 16px -1px #000000; 
    box-shadow: -8px 10px 16px -1px #000000;

    margin: 30px 20%;
}
p em
{
    color: whitesmoke;
}
