body
{
    background: url("../Image/fond5.png");
}


h1, .total
{
    text-align: center;
    font-family: "Brush Script MT", cursive;
}


h2
{
    font-family: "Brush Script MT", cursive;
}

button
{
    background-color: red;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.verified
{
    background-color: green;
    cursor: default;
}

.not-verified
{
    background-color: red;
}

div em
{
    color: rgb(255, 255, 255);
}

.message
{
    background-color: gray;
    padding: 10px 20px;
    border-radius: 15px;
    -webkit-box-shadow: -8px 10px 16px -1px #000000; 
    box-shadow: -8px 10px 16px -1px #000000;

    margin: 0 20%;
}